/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 5rem;
} */


.firstscroll {
    display: flex;
    background-color:#E6F3FF;
    justify-content: space-between;

}

.firstscroll-info {
    padding: 20px 2rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.firstscroll-img {
    width: 50%;
}
.firstscroll-img img {
    width: 619.02px;
height: 376px;
border-radius: 10px;
object-fit:cover;

}

.firstscroll h1 {
    font-family: FiraGO;
font-size: 22px;
font-weight: 500;
line-height: 33.6px;
width: 34rem;
}

.firstscroll i {
    font-family: FiraGO;
font-size: 16px;
font-weight: 500;
line-height: 22.4px;
width: 28rem;



}

.firstscroll a {
    display: flex;
    text-decoration: none;
    height: 45px;
    width: 14rem;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #008BFF;
    border-radius: 5px ;

}

.firstscroll a h3 {
    font-family: FiraGO;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    color:#008BFF;
  
    
}
.firstscroll a img {
    fill:#008BFF;
}
