
* {
    margin: 0;
    padding: 0;
}


main {
    margin: 0 5rem;
}

/* side-scroll  */
.side-scroll {
    display: flex;
    flex-direction: column;
    height: 390px;
    background-image: url("https://s3-alpha-sig.figma.com/img/1449/fc27/157377cdc5c19d0a8b16619829204f3d?Expires=1722211200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ClGqitvG~K9-3RS4sR-L9HDXTPTWXhH8BtQbpZmX-crzEPuOeHaObtlB5MIJobpEy0AZ26vYH~2EidCkfXWmbdrN-U7-pWZykT8JT~IsL--IdZRzXJlwGfSEKdUepauNtRjtKKNYeEPDvZkbfYPGv~QvZ7cooJiHtdGq4bSnK1ebPGnqLxNNarjjJcg7lFy36GSP5PadbBpqiBANyiRHkrDifXUAarZb8evJbd7iGLxHMvN-TSlKXEk7Td~RTBzMGcn334tw5ekE5AWMRQA8QGN2oRQv-0NfA0Sgb2jRvEbeLJOjS3pf20EemAmb6ChgMKDfY~c0SrMC8p1QJhSWfw__"); 
    background-position: center 57.5%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.mySlides {
    color:#FFFFFF;
    /* display: flex;
    flex-direction: column; */
    margin: 0 2rem;
    margin-top: 200px ;
    width: 75%;
    /* gap:50px; */
    height: auto;
    
}

.mySlides h1 {
    font-family: FiraGO;
font-size: 32px;
font-weight: 600;
line-height: 40px;
width: 40rem;
margin-bottom: 20px ;

}

.mySlides i {
    font-family: FiraGO;
font-size: 14px;
font-weight: 400;
line-height: 21px;
width: 350px;



}

.mySlides a {
    width: 216px;
    height: 40px;
border-radius: 6px;
border: 1px solid #008BFF;
color: #008BFF;
background-color: #FFFFFF;
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
margin-top: 25px ;

}
    
.mySlides a h3 {
    font-family: FiraGO;
font-size: 14px;
font-weight: 500;
line-height: 20px;
text-align: center;


}
/* Next & previous buttons */


.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 200px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color:#008BFF;  
    font-size: 50px;
    font-weight: 600;
    transition: 10s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Position the "next button" to the right */
.next {
    right: 4rem;
}
.prev {
 left: 4rem;
}





/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 16px;
    width: 16px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover,
.dot.active {
    background-color: #2C8BDB ;
}








/* sameCards */

.cardSection {
    background-color: #FFFFFF;
    width: 100%;
    /* height: 420px; */
    height: auto;
    display: flex;
    flex-direction: column;

}

.cards-head {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.cards-head h1 {
font-size: 24px;
font-weight: 500;
line-height: 33.6px;
color: #000000;
}

.allCards-button button {
    border:none;
    background: none;

}
.allCards-button button i {
    font-family: FiraGO;
    font-size: 12px;
    font-weight: 400;
    line-height: 17.5px;
    text-decoration: underline;
    text-underline-offset: 2.5px;

}



#cards-container {
    /* width: 100%; */
    /* height: 390px; */
    height: auto;
    display: flex;
    flex-wrap: wrap;;
    justify-content: space-between;
    
}

.card {
    width: 298px;
    height: 390px;
    box-sizing: border-box;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    position: relative;
    flex-wrap: wrap;
}

.card-img {
    width: 100%;
    height: 216px;
    object-fit: contain;
}
.card-img img {
    height: 216px;
}

.card .heart {
    height: 32px;
    background-color: transparent;
    width: 32px;
    border-radius:50%;
    border: 1px solid #EFEFEF;
    position: absolute;
    top:10px;
    right: 5px;
    cursor: pointer;


}
.card button img {
    width: 30px;
    height: 30px;
}
.point {
    position: absolute;
    display: flex;
    top: 185px;
    align-items: center;
    left: 0.5rem;
}

.point img {
    width: 11.65px;
    height: 12px;
    
}
.point i {
font-size: 16px;
font-weight: 700;
line-height: 22.4px;
color:#717D96;
} 



.card-content {
    width: 263px;
    /* height: 172px;  */
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 0.5rem;
}

.card-content h2 {
    height: 28px;
font-size: 20px;
font-weight: 700;
line-height: 28px;
text-align: left;
color: #2D3648;    
}

.card-content p {
font-size: 14px;
font-weight: 400;
line-height: 19.6px;
text-align: left;
color: #717D96;
height: 20px;


}


.card-content button {
    width: 263px;
    height: 40px;
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: -0.01em;
color: #FFFFFF;
background-color: #008BFF;
border: none;
border-radius: 7px;
margin: 0 auto;
cursor: pointer;
}

.allCards-button {
    display: flex;
    gap:0.7rem;
}


.prev-nextFully {
    display: flex;
    color: #D8D8D8;
}


.fully-prev,
.fully-next  {
    width: 32px;
    height: 32px;
    border-radius: 100px;
    border: 1px solid #D8D8D8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}


.fully-prev:hover,
.fully-next:hover {
    border-color: #80C5FF;

}

.fully-prev img:hover,
.fully-next img :hover{
    color:#80C5FF;


}





/* popular-brands */
.popularBrands {
    height: 659px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.Brands {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 593px;
    display:grid;
    grid-template-columns: auto auto ;


}
.Hape {
    height: 583px;
 background-color: #E7D1EE;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 
}


.Hape-img img {
    object-fit: contain;
    height: 479px;
}




.similarPopular {
    display: flex;
    flex-direction: column;
    gap:1.2rem;
}

.Dyson {
    height: 285px;
    background-color: #FFE393;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.Dyson-img img{
    object-fit: contain;
    height: 181px;
}

.GreenPan {
    height: 277px;
    background-color: #D8E4C2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.GreenPan-img img {
    object-fit: contain;
    height: 189px;
}


.Brand-arrow {
    width: 54px;
height: 36px;
/* padding: 0px 17px 0px 17px; */
/* gap: 47px; */
border-radius: 6px;
cursor: pointer;

}

.Brand-info {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    height: 56px;

}

.Brand-info i {
    font-family: FiraGO;
font-size: 24px;
font-weight: 500;
line-height: 31.2px;
color: #363939;

}
 